@model CRUD_OPERATIONS__151.Models.OrderModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Order Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descirption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descirption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quatity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quatity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Name" />
        <input type="submit" value="Delete" class="btn btn-danger " /> |
        <a asp-action="Index" class="btn btn-info">Back to List</a>
    </form>
</div>
